.sous-menu li a {
  color: red;
  text-decoration: none;
}

.menu {
margin-top: 4px;
height: 80px;
color: red;
font-size: 30px;
font-style: italic;
}

ul ul {
  display: none;
}

li:hover ul.sous-menu {
  display:block;
}

body{
  background-color: pink
}

.titre{
  margin-left: 440px;
  color: red;
  font-size: 30px;
}

header{
  display: flex;
  flex-direction:center;
  margin-top: 20px;
}
