.title{
    position:relative;
    text-align:center;
}
.title::before{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    background:#a9c622;
    height:2px;
    z-index:-1;
    background-color: red;
}
.title span{
    background:#a9c622;
    background-color: red;
}
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

label {
    font-size: .8rem;
    display: block;
    margin: 1rem 0 .2rem 0;
}

input:invalid:not(:focus) {
    outline: 1px solid #f00;
}
.menu {
margin-top: 4px;
height: 80px;
color: red;
font-size: 40px;
font-style: italic;
}
ul ul {
  display: none;
}

li:hover ul.sous-menu {
  display:block;
}
.sous-menu li a {
  color: red;
  text-decoration: none;
  font-size: 30px;
  
}
