.sous-menu li a {
  color: red;
  text-decoration: none;
}

.menu {
margin-top: 4px;
height: 80px;
color: red;
font-size: 30px;
font-style: italic;
}

ul ul {
  display: none;
}

li:hover ul.sous-menu {
  display:block;
}

body{
  background-color: pink
}

.titre{
  margin-left: 440px;
  color: red;
  font-size: 30px;
}

header{
  display: flex;
  flex-direction:center;
}
.texte1{
  font-size: 13px;
  margin-left: 400px;
  margin-top: 50px;
}

.texte2{
  font-size: 13px;
  margin-left: 400px;
  margin-top: 50px;
}
