.title{
    position:relative;
    text-align:center;
}
.title::before{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    background:#a9c622;
    height:2px;
    z-index:-1;
    background-color: red;
}
.title span{
    background:#a9c622;
    padding:4px 8px;
    background-color: red;
}
